%section#full_slider.full_slider_inner.padding_0
  #pallax_slider.only_parallax.stars_dottat
    .simple_slider_img
      .container
        %img.wow.fadeInLeft{ "data-wow-delay" => "0.25s", "data-wow-duration" => "2s"}
        = image_tag('gream_parallax_img.png')
    .vertical-center
      .full
        .row
          .col-md-6.col-sm-6.col-xs-12
          .col-md-6.col-sm-6.col-xs-12.wow.fadeInRight{"data-wow-delay" => "0.5s", "data-wow-duration" => "2s"}
            .slider_contant.left_side.text_align_left.top_80
              %h2{:style => "color:#e9dcbe;margin-bottom:0;"}
                Internet Marketing
                %br>/
                Solutions
              .button_section
              %ul.pull-left
                %li
                  %a.btn.border_btn{:href => "#"} SEO PRICES
%section.contant_section.padding_layout_1.padding-bottom_0
  .container.wow.fadeIn{"data-wow-duration" => "2s"}
    .row
      .col-md-12.col-xs-12
        .main_heading.text_align_center
          %p.large STEPS FOR YOUR SUCCESS
          %h2 OUR PROCESS
    .row.margin_bottom_20_all
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .full
          .process_blog
            %span 01
            %h4 SKETCH  DESIGN
            %p Perspiciatis eos quos totam cum minima aut! Et voluptatem cupiditate cum veniam dicta assumenda fuga modi error aperiam.
            %a.read_more{:href => "#"} READ MORE
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .full
          .process_blog
            %span 02
            %h4 SKETCH  DESIGN
            %p Perspiciatis eos quos totam cum minima aut! Et voluptatem cupiditate cum veniam dicta assumenda fuga modi error aperiam.
            %a.read_more{:href => "#"} READ MORE
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .full
          .process_blog
            %span 03
            %h4 SKETCH  DESIGN
            %p Perspiciatis eos quos totam cum minima aut! Et voluptatem cupiditate cum veniam dicta assumenda fuga modi error aperiam.
            %a.read_more{:href => "#"} READ MORE
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .full
          .process_blog.margin_0
            %span 04
            %h4 SKETCH  DESIGN
            %p Perspiciatis eos quos totam cum minima aut! Et voluptatem cupiditate cum veniam dicta assumenda fuga modi error aperiam.
            %a.read_more{:href => "#"} READ MORE
    .row
      .col-md-12.col-sm-12.col-xs-12
        .center 
          = image_tag('rocker_fly2.png')
/ end section
/ section
%section.contant_section.padding_layout_1.light_silver_2
  .container.wow.fadeIn{"data-wow-duration" => "2s"}
    .row
      .col-md-12.col-xs-12
        .main_heading.text_align_center
          %p.large FEATURES THAT YOU NEED
          %h2 ALL YOUR WEBSITE NEEDS
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .row
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text_align_right
            .our_feature
              .full
                .feauter_list
                  %ul
                    %li.wow.fadeInLeft
                      .feature_text
                        %p.semi_bold.black_color REPUTATION MANAGEMENT
                        %p Consectetur adipisicing elit lorem ipsum dolor sit amet. beatae deserunt nemo expedita, voluptates magni vel, inventore
                      .icon_feature
                        = image_tag('key_icon.png')
                    %li.wow.fadeInLeft
                      .feature_text
                        %p.semi_bold.black_color BOOST YOUR CONVERSION
                        %p Consectetur adipisicing elit lorem ipsum dolor sit amet. beatae deserunt nemo expedita, voluptates magni vel, inventore
                      .icon_feature
                        = image_tag('small_screen_icon.png')
                    %li.margin_bottom_0.wow.fadeInLeft
                      .feature_text
                        %p.semi_bold.black_color USA BASED SEO COMPANY
                        %p Consectetur adipisicing elit lorem ipsum dolor sit amet. beatae deserunt nemo expedita, voluptates magni vel, inventore
                      .icon_feature
                        = image_tag('tricon_icon.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            .center.mobile_icon
              = image_tag('mobile_feature.png')
          .col-lg-4.col-md-4.col-sm-12.col-xs-12.text_align_left
            .our_feature
              .full
                .feauter_list
                  %ul
                    %li.wow.fadeInRight
                      .icon_feature
                        = image_tag('rocket_icon.png')
                      .feature_text
                        %p.semi_bold.black_color SEO OPTIMIZATION
                        %p Consectetur adipisicing elit lorem ipsum dolor sit amet. beatae deserunt nemo expedita, voluptates magni vel, inventore
                    %li.wow.fadeInRight
                      .icon_feature
                        = image_tag('cant_sub.png')
                      .feature_text
                        %p.semi_bold.black_color CONTENT SUBMISSION
                        %p Consectetur adipisicing elit lorem ipsum dolor sit amet. beatae deserunt nemo expedita, voluptates magni vel, inventore
                    %li.margin_bottom_0.wow.fadeInRight
                      .icon_feature
                        = image_tag('clock_icon.png')
                      .feature_text
                        %p.semi_bold.black_color REAL-TIME ANALYTICS
                        %p Consectetur adipisicing elit lorem ipsum dolor sit amet. beatae deserunt nemo expedita, voluptates magni vel, inventore
              / end section
              / section
%section.padding_layout_1.theme_color_bg
  .row.wow.fadeIn{"data-wow-duration" => "2s"}
    .container
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.margin_bottom_30
        .full
          .center
            = image_tag('team_member_5.png')
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .full
          %h2.text-center GROW YOUR BUSINESS WITH US
          %p.text-center  
            Repellat ut assumenda eveniet totam lorem ipsum dolor sit amet, consectetur adipisicing elit.
            quo accusamus, natus impedit ea quaerat vel voluptatibus veritatis ipsum quae, officiis. Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Ipsa maxime quisquam veritatis iusto reprehenderit saepe hic odit consectetu!
        .full
          .progress_bar
            / Skill Bars
            %span.skill{:style => "width:96%;"}
              General Consulting
              %span.info_valume 96%
            .progress.skill-bar
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "96", :role => "progressbar", :style => "width: 96%;"}
            %span.skill{:style => "width:75%;"}
              Contruction Management
              %span.info_valume 75%
            .progress.skill-bar
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", :role => "progressbar", :style => "width: 75%;"}
            %span.skill{:style => "width:88%;"}
              Design  Build
              %span.info_valume 88%
            .progress.skill-bar
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "88", :role => "progressbar", :style => "width: 88%;"}
            %span.skill{:style => "width:60%;"}
              Special Project
              %span.info_valume 60%
            .progress.skill-bar
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%;"}
            / end section
            / section
%section.contant_section.padding_layout_1.service_style_2
  .container.wow.fadeIn{"data-wow-duration" => "2s"}
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .row
          .col-md-4.col-sm-6.col-xs-12
            .full.margin_bottom_30.text_align_center
              .qulity_ser
                .center
                  = image_tag('quality_ser1.png')
                %h4 YEARS OF EXPERTISE
                %p.opacity_half_color
                  Perspiciatis eos quos totam cum
                  %br
                    minima aut! Et voluptatem cupiditate
                    %br
                      cum veniam dicta assumenda fuga
                      %br modi error aperiam.
          .col-md-4.col-sm-6.col-xs-12
            .full.margin_bottom_30.text_align_center
              .qulity_ser
                .center
                  = image_tag('quality_ser2.png')
                %h4 CONTENT SUBMISSION
                %p.opacity_half_color
                  Perspiciatis eos quos totam cum
                  %br
                    minima aut! Et voluptatem cupiditate
                    %br
                      cum veniam dicta assumenda fuga
                      %br modi error aperiam.
          .col-md-4.col-sm-6.col-xs-12
            .full.margin_bottom_30.text_align_center
              .qulity_ser
                .center
                  = image_tag('quality_ser3.png')
                %h4 REAL-TIME ANALYTICS
                %p.opacity_half_color
                  Perspiciatis eos quos totam cum
                  %br
                    minima aut! Et voluptatem cupiditate
                    %br
                      cum veniam dicta assumenda fuga
                      %br modi error aperiam.
          .col-md-4.col-sm-6.col-xs-12
            .full.margin_bottom_30.text_align_center
              .qulity_ser
                .center
                  = image_tag('quality_ser4.png')
                %h4 REPUTATION MANAGEMENT
                %p.opacity_half_color
                  Perspiciatis eos quos totam cum
                  %br
                    minima aut! Et voluptatem cupiditate
                    %br
                      cum veniam dicta assumenda fuga
                      %br modi error aperiam.
          .col-md-4.col-sm-6.col-xs-12
            .full.margin_bottom_30.text_align_center
              .qulity_ser
                .center
                  = image_tag('quality_ser5.png')
                %h4 BOOST YOUR CONVERSION
                %p.opacity_half_color
                  Perspiciatis eos quos totam cum
                  %br
                    minima aut! Et voluptatem cupiditate
                    %br
                      cum veniam dicta assumenda fuga
                      %br modi error aperiam.
          .col-md-4.col-sm-6.col-xs-12
            .full.margin_bottom_30.text_align_center
              .qulity_ser
                .center
                  = image_tag('quality_ser6.png')
                %h4 USE BASED SEO COMPANY
                %p.opacity_half_color
                  Perspiciatis eos quos totam cum
                  %br
                    minima aut! Et voluptatem cupiditate
                    %br
                      cum veniam dicta assumenda fuga
                      %br modi error aperiam.
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .center
          %ul
            %li
              %a.btn.main_bt{:href => "#"} SEE ALL FEATURES
            %li
              %a.btn.main_bt{:href => "#"} GET STARTED NOW!
        / end section
        / section
%section.contant_section.padding_layout_2.light_silver_2
  .container.wow.fadeIn{"data-wow-duration" => "2s"}
    .row
      .col-md-12.col-xs-12
        .main_heading.text_align_center
          %p.large OUR MOST VALUABLE RESOURCE
          %h2 OUR TEAM
    .row.team_section
      .col-md-3.col-sm-6.col-xs-12.margin_bottom_30_all
        .center
          = image_tag('team_member_1.png')
        .member_heading.text_align_center
          %h4 Harry Hanson
          %p Designer
      .col-md-3.col-sm-6.col-xs-12.margin_bottom_30_all
        .center
          = image_tag('team_member_2.png')
        .member_heading.text_align_center
          %h4 Gavin Harmon
          %p Designer
      .col-md-3.col-sm-6.col-xs-12.margin_bottom_30_all
        .center
          = image_tag('team_member_3.png')
        .member_heading.text_align_center
          %h4 Larry Washington
          %p Designer
      .col-md-3.col-sm-6.col-xs-12.margin_bottom_30_all
        .center
          = image_tag('team_member_4.png')
        .member_heading.text_align_center
          %h4 Christian Perez
          %p Designer
      / end section
      / bottom information
.bottom_silver_section.bottom_imformation
  .container.wow.fadeIn{"data-wow-duration" => "2s"}
    .row
      .col-md-4.col-sm-4.col-xs-12
        .full.text_align_left.margin_bottom_30
          .information_bottom.left-side
            .icon_bottom
              %i.fa.fa-road{"aria-hidden" => "true"}
            .info_cont
              %h4 427 Schoen Circles Suite 124
              %p Melbourne Australia
      .col-md-4.col-sm-4.col-xs-12
        .full.text_align_left.margin_bottom_30
          .center
            .information_bottom
              .icon_bottom
                %i.fa.fa-user{"aria-hidden" => "true"}
              .info_cont
                %h4 0011 234 56789
                %p Mon-Fri 8:30am-6:30pm
      .col-md-4.col-sm-4.col-xs-12
        .full.text_align_left.margin_bottom_30
          .information_bottom.right-side
            .icon_bottom
              %i.fa.fa-envelope{"aria-hidden" => "true"}
            .info_cont
              %h4 flat.seoinfo@gmail.com
              %p 24/7 online support
/ end bottom information
/ start footer
%footer
  .container
    .row
      .col-md-12.col-sm-12.col-xs-12.wow.fadeIn{"data-wow-duration" => "2s"}
        .center
          .footer_logo
            = image_tag('logo_bottom.png')
    .row
      .col-md-5.col-sm-4.col-xs-12.margin_bottom_30.wow.fadeIn{"data-wow-duration" => "2s"}
        %h4 ABOUT US
        .full.white_fonts
          %p
            We attract your potential buyers from search and turn them intoyour customers. Qolor sit amet,
            consectetuer adipiscing elit, sed diam nonummy nibham liber tempor cum soluta nobis eleifend option.
            sed diam nonummy nibham liber tempor cum soluta nobis eleifend option.
          .social_icon
            %ul
              %li.fb
                %a{:href => "#"}
                  %i.fa.fa-facebook{"aria-hidden" => "true"}
              %li.twi
                %a{:href => "#"}
                  %i.fa.fa-twitter{"aria-hidden" => "true"}
              %li.gp
                %a{:href => "#"}
                  %i.fa.fa-google-plus{"aria-hidden" => "true"}
              %li.in
                %a{:href => "#"}
                  %i.fa.fa-linkedin{"aria-hidden" => "true"}
              %li.pint
                %a{:href => "#"}
                  %i.fa.fa-pinterest{"aria-hidden" => "true"}
      .col-md-7.col-sm-8.col-xs-12.pull-right.wow.fadeIn{"data-wow-duration" => "2s"}
        .full
          .footer_menu
            %h4 USEFULL LINKS
            %ul.footer_menu_ul.margin_bottom_30
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  SEO Services
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Social Media
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Web Anlytics
            %ul.footer_menu_ul.margin_bottom_30
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Web Development
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Content Management
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Blog Management
            %ul.footer_menu_ul
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Virtual Marketing
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Email Marketing
              %li
                %a{:href => "#"}
                  %i.fa.fa-angle-right
                  Keyword Analytics
/ end footer
/ bottom footer
.bottom_footer
  .container
    .row
      .col-md-6.col-sm-12.col-xs-12.wow.fadeIn{"data-wow-duration" => "2s"}
        \&gt;
        .bottom_menu
          %ul
            %li
              %a{:href => "#"} Terms  Conditions
            %li
              %a{:href => "#"} API Use Policy
            %li
              %a{:href => "#"} Privacy Policy
            %li
              %a{:href => "#"} Cookies
      .col-md-6.col-sm-12.col-xs-12.white_fonts.wow.fadeIn{"data-wow-duration" => "2s"}
        .cpy.text_align_right
          %p Copyright &#xA9; 2017 SEO Solution. All Rights Reserved.
/ end bottom footer
/ model search bar
/ Modal
#search_bar.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %i.fa.fa-close
      .modal-body
        .col-md-8.col-sm-8.col-md-offset-2.col-sm-offset-2.col-xs-10.col-xs-offset-1
          .navbar-search
            %form#search-global-form.search-global{:action => "#", :method => "get"}
              %input#search.search-global__input{:autocomplete => "off", :name => "s", :placeholder => "Type to search", :type => "text", :value => ""}
                %button.search-global__btn
                  %i.fa.fa-search
                .search-global__note Begin typing your search above and press return to search.
  / end model search bar
  / jQuery (necessary for Bootstrap's JavaScript)
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
  %script{:src => "js/bootstrap.min.js"}
  / Menu JS
  %script{:src => "js/menumaker.js"}
  / Wow Animation
  %script{:src => "js/wow.js"}
  / jQuery (necessary for Bootstrap's JavaScript)
  %script{:src => "js/custom.js"}
